.preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.preview-wrapper iframe {
  height: 100%;
  width: 100%;
}

.react-draggable-transparent-selection .preview-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}

.preview-error {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #e60c0c;
}